body {
  font-family: sans-serif;
}

#main {
  padding-right: 0;
  padding-left: 0;
}

.fas.fa-bars {
  color: rgb(36, 39, 43);
}

/***********Sidebar***************/

#sidebar-wrapper {
  z-index: 2;
  position: fixed;
  width: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(36, 39, 43);
  opacity: 0.9;
}

/******Main content*******/

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background-color: #eee;
}

/*******change the side bar to display it******/

.toggled #sidebar-wrapper {
  width: 250px;
}

.toggled #page-content-wrapper {
  padding-left: 250px;
}

.toggled section#onsale-games {
  margin-left: 70px;
}

.toggled section#action-games {
  margin-left: 70px;
}

.toggled footer.footer-distributed {
  margin-left: 18px;
}

.toggled section#premier-games {
  margin-left: 20px;
}

/****Sidebar Styling*****/

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
}

/**sidebar list styling**/

img.header-logo {
  width: 40px;
  height: 40px;
}

a#menu-toggle {
  font-size: 25px;
  margin-left: 20px;
}

a.list-item:hover {
  background-color: #aaa;
}

.list-item {
  font-size: 20px;
}

li.header-info {
  margin-top: 50px;
  font-size: 30px;
}

#btn1,
#btn2 {
  width: 208px;
  text-transform: capitalize;
  color: #fff;
}

#btn1:hover {
  background-color: rgb(67, 167, 148);
}

.signin {
  margin-top: 150px;
}

.register {
  margin-top: 20px;
}

/***Search-Bar****/

.form-group {
  padding: 30px 15px 0px 15px;
}

input.form-control {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/*******************image slider***************************/

section#game-offer {
  margin: auto;
}

img.d-block {
  width: 100%;
}

/*
 ******************************************
premier-games
*******************************************
*******************************************
*/

#premier-games {
  padding: 40px;
}

.premier-games-image {
  padding: 15px;
}

.premier-games-image img {
  height: 290px;
}

.overlay1 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 90px;
  padding: 10px;
  line-height: 2;
  margin-bottom: -60px;
  position: relative;
  top: -90px;
  color: #fff;
}

.overlay1 h3 {
  margin: 0px;
  font-size: 20px;
}

.overlay1 h4 {
  margin: 0px;
  font-size: 17px;
}

/*end of premier-games*/

/*******************************************
 *******************************************

onsale-games action game
*******************************************
*/

#onsale-games {
  height: 450px;
  margin: auto;
}

#action-games {
  height: 450px;
  margin: auto;
}

.card-height {
  height: 380px;
}

.card-sale-title {
  padding: 10px;
  height: 80px;
  font-size: 15px;
  font-weight: 600;
}

.card-height img {
  height: 220px;
  width: 100%;
}

.card-height img:hover {
  transform: scale(1.1);
}

.card-text {
  padding-left: 10px;
}

/*end onsale-games*/

/*****Contact Form*****/

#imaging {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}

#login-modal .modal-dialog {
  width: 800px;
}

.modal-content {
  background-color: #c1c1c1;
}

#login-modal input[type="text"],
input[type="password"] {
  margin-top: 15px;
}

/*premier Games*/

#premier-games {
  padding: 20px;
}

.overlay1 h3 {
  margin: 0px;
  font-size: 15px;
  font-weight: 600;
}

.overlay1 h4 {
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
}

/*End of Premier Games*/

#onsale-games {
  height: 2400px;
  padding: 30px;
}

#action-games {
  padding: 30px;
}

.card-height {
  height: 380px;
  margin-bottom: 5px;
}


/*********************fooooter*******************/

.header-logo {
  width: 50px;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

